<h1>Lista de entradas</h1>
<% @blogs.each do |blog| %>
  <div class="comment">
    <h1><%= link_to blog['title'], blog_path(blog) %></h1>
    <p><%= blog['body'] %></p>
    <i>Autor: <%= blog['author'] %></i>
    <p>Comentarios: <%= blog.comments.size %></p>
    <%= link_to 'Editar', edit_blog_path(blog) if user_signed_in? && (current_user.email == blog.author || current_user.author == blog.author) %>  
    <%= link_to 'Eliminar', blog, method: :delete, data: { confirm: '¿Esta seguro?' } if user_signed_in? && (current_user.email == blog.author || current_user.author == blog.author) %>
  </div>
<% end %>
<br>
<%= link_to 'Nueva entrada', new_blog_path if user_signed_in? %>