<div class="blog">
  <h1><%= @blog.title %></h1>
  <p><%= @blog.body %></p>
  <i>Author: <%= @blog.author %></i>
  <% @blog.comments.each do |comment| %>
    <div class="comment">
      <h3><%= comment.author.strip.to_s.length > 0 ? comment.author : "Anónimo" %></h3>
      <p><%= comment.comment %></p>
      <%= link_to 'Editar', edit_blog_comment_path(:blog_id => @blog, :id => comment) if user_signed_in? %>
      <%= link_to 'Eliminar', blog_comment_path(:blog_id => @blog, :id => comment), method: :delete, data: { confirm: '¿Esta seguro?' } if user_signed_in? %>
    </div>
  <% end %>
  <br>
  <%= link_to 'Nuevo comentario', new_blog_comment_path(@blog) if user_signed_in? %>
  <br>
  <%= link_to 'Editar', edit_blog_path(@blog) if user_signed_in? %>  
  <%= link_to 'Volver', blogs_path %>
</div>